<div class="container">
  <div class="d-flex flex-wrap">
    <div id="shartContainer" class='mr-2 mb-2'><%= @temprature_chart.render() %></div>
    <div id="humidityChartContainer" class='mr-2 mb-2'><%= @humidity_chart.render() %></div>
    <div id="lightIntensityChartContainer" class='mr-2 mb-2'><%= @light_intensity_chart.render() %></div>
    <div id="waterLevelChartContainer" class='mr-2 mb-2'><%= @water_level_chart.render() %></div>
    <% @moisture_charts.each do |moisture_chart| %>
    <div class="mr-2 mb-2" id="<%= moisture_chart.renderAt -%>"><%= moisture_chart.render() %></div>
    <% end %>
    <div id="waterUsageChartContainer" class='mr-2 mb-2'><%= @water_usage_chart.render() %></div>

  </div>
</div>
