<div class="card card-body">
  <div class="container">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  <div class="d-flex">
    <div class="field  mr-3">
      <%= f.label :firstname %><br />
      <%= f.text_field :firstname, autofocus: true, autocomplete: "First Name" , class: 'form-control'%>
    </div>

    <div class="field">
      <%= f.label :lastname %><br />
      <%= f.text_field :lastname, autofocus: true, autocomplete: "Last Name", class: 'form-control' %>
    </div>

  </div>

    <div class="field">
      <%= f.label :line1 %><br />
      <%= f.text_field :line1, autofocus: true, autocomplete: "First Name", class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :line2 %><br />
      <%= f.text_field :line2, autofocus: true, autocomplete: "First Name", class: 'form-control' %>
    </div>

  <div class="d-flex">

    <div class="field mr-3">
      <%= f.label :city %><br />
      <%= f.text_field :city, autofocus: true, autocomplete: "City", class: 'form-control' %>
    </div>

    <div class="field mr-3">
      <%= f.label :province %><br />
      <%= f.text_field :province, autofocus: true, autocomplete: "First Name", class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :postcode %><br />
      <%= f.text_field :postcode, autofocus: true, autocomplete: "First Name", class: 'form-control' %>
    </div>
  </div>

    <div class="field">
      <%= f.label :country %><br />
      <%= f.country_select :country_code,{}, {class: 'form-control'} %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>


    <div class="field">
      <%= f.label :phone_number %><br />
      <%= f.phone_field :phone_number, autofocus: true, placeholder: '+xx-xxx-xxxxxxx', class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :gender %><br />
      <%= f.select(:gender, options_for_select([['Male'], ['Female']]), {:prompt => 'Select Gender'}, {class: 'form-control' })%>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'btn btn-primary mt-3'  %>
    </div>
    <% end %>

  </div>
  <%= render "devise/shared/links" %>
</div>
