<%= form_with(model: irrigation_system) do |form| %>
  <% if irrigation_system.errors.any? %>
    <div class='alert alert-danger'>
      <ul>
        <% irrigation_system.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :uuid, style: "display: block" %>
    <%= form.text_field :uuid, class: 'form-control' %>
  </div>
<div class="d-flex">
  <div>
    <%= form.label :plant_1 %>
    <%= form.collection_select :plant_id_sensor_1, Plant.order(:name),:id,:name, {selected: irrigation_system.irrigation_system_plants.where(sensor_no: 1).first&.plant_id}, { class: 'form-control' } %>
  </div>

  <div class='ml-5'>
    <%= form.label :plant_2 %>
    <%= form.collection_select :plant_id_sensor_2, Plant.order(:name),:id,:name, {selected: irrigation_system.irrigation_system_plants.where(sensor_no: 2).first&.plant_id}, { class: 'form-control' } %>
  </div>
</div>

  <div>
    <%= form.submit class: 'btn btn-primary mt-3'%>
  </div>
<% end %>
